{% macro load_component_dependencies(needed_components, folder="components") %}
    {% for component_name in needed_components %}
        {% if component_name not in base_namespace.loaded_component_dependencies %}
            {% do base_namespace.loaded_component_dependencies.append(component_name) %}
            {% do base_namespace.scripts_to_load.append(["flask_material", "components/" + component_name]) %}
            {% do base_namespace.stylesheets_to_load.append(["flask_material", "components/" + component_name]) %}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro image_svg(svg_location, id = None, classes = None) %}
    {{ load_svg_unsafe(svg_location, id, classes)|safe }}
{% endmacro %}

{% macro icon_svg(icon_location, should_be_filled = False, id = None, classes = None) %}
    {{ image_svg("image/icon/" + icon_location + ('_filled' if should_be_filled else '') + ".svg", id, classes) }}
{% endmacro %}

{# Button #}
{% macro button_base(button_type, button_id, classes = [], label = None, icon = None) %}
    {% do base_namespace.needed_component_dependencies.append('button') if 'button' not in base_namespace.needed_component_dependencies %}
    <div id="{{ button_id }}" class="base_button base_button_{{ button_type }} fm_component no-initial-animation {{ classes|join(' ') }}"
         tabindex="0">
        <div class="base_button_inner base_state_layer_container no-initial-animation">
            <div class="base_state_layer"></div>
            {% if icon %}
                {{ icon_svg(icon, classes=['base_button_icon', 'base_button_' + button_type + '_icon', 'no-initial-animation']) }}
            {% endif %}
            {% if label %}
                <span class="base_button_label base_button_{{ button_type }}_label font_label_large no-initial-animation">
                    {{ label }}
                </span>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro button_elevated(button_id, label, classes = [], icon = None) %}
    {{ button_base("elevated", button_id, classes=classes, label=label, icon=icon) }}
{% endmacro %}

{% macro button_filled(button_id, label, classes = [], icon = None, focusable = True) %}
    {{ button_base("filled", button_id, classes=classes, label=label, icon=icon) }}
{% endmacro %}

{% macro button_filled_tonal(button_id, label, classes = [], icon = None, focusable = True) %}
    {{ button_base("filled_tonal", button_id, classes=classes, label=label, icon=icon) }}
{% endmacro %}

{% macro button_outlined(button_id, label, classes = [], icon = None, focusable = True) %}
    {{ button_base("outlined", button_id, classes=classes, label=label, icon=icon) }}
{% endmacro %}

{% macro button_floating_action(button_id, icon, classes = [], size = "medium") %}
    {% do base_namespace.needed_component_dependencies.append('button') if 'button' not in base_namespace.needed_component_dependencies %}
    {% do classes.append('base_button_floating_action_' + size) %}
    {{ button_base("floating_action", button_id, classes=classes, icon=icon) }}
{% endmacro %}

{# Switch #}
{% macro switch(switch_id, classes = [], icons = None, labels = None) %}
    {% do base_namespace.needed_component_dependencies.append('switch') if 'switch' not in base_namespace.needed_component_dependencies %}
    <div id="{{ switch_id }}" class="base_switch fm_component no-initial-animation {{ classes|join(' ') }}" tabindex="0">
        <div class="base_switch_track no-initial-animation"></div>
        <div class="base_switch_handle base_state_layer_container no-initial-animation {{ "base_switch_handle_with_icon" if icons }}">
            <div class="base_state_layer"></div>
            <div class="base_switch_icon_container">
                {% if icons %}
                    {% if icons|length == 1 %}
                        {{ icon_svg(icons[0], classes=["base_switch_icon", "no-initial-animation"]) if icons[0] }}
                    {% elif icons|length == 2 %}
                        {{ icon_svg(icons[0], classes=["base_switch_icon", "base_switch_icon_off", "no-initial-animation"]) if icons[0] }}
                        {{ icon_svg(icons[1], classes=["base_switch_icon", "base_switch_icon_on", "no-initial-animation"]) if icons[1] }}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}

{# Input Field #}
{% macro base_text_field(style_type, text_field_id, classes = [], input_type = "text", label = None, icons = None,
                         supporting_text = None, show_char_count = False, additional_attributes = []) %}
    {% do base_namespace.needed_component_dependencies.append('text_field') if 'text_field' not in base_namespace.needed_component_dependencies %}
    <div id="{{ text_field_id }}" class="base_text_field fm_component base_text_field_{{ style_type }} no-initial-animation {{ classes|join(' ') }}"
         input_type="{{ input_type }}">
        <label class="base_text_field_inner base_text_field_inner_{{ style_type }} no-initial-animation">
            {% if icons and icons|length >= 1 and icons[0] %}
                {{ icon_svg(icons[0], classes=["base_text_field_icon_leading", "no-initial-animation"]) }}
            {% endif %}
            <div class="base_text_field_input_container">
                {% if label %}
                    <span class="base_text_field_label base_text_field_label_{{ style_type }} font_body_large">{{ label }}</span>
                {% endif %}
                {% if input_type == "textarea" %}
                    <textarea class="base_text_field_input font_body_large no-initial-animation" {{ additional_attributes|join(' ') }}
                              type="text" name="{{ text_field_id }}" spellcheck="false" tabindex="0"></textarea>
                {% else %}
                    <input class="base_text_field_input font_body_large no-initial-animation" {{ additional_attributes|join(' ') }}
                           type="text" name="{{ text_field_id }}" spellcheck="false" tabindex="0">
                {% endif %}
            </div>
            {% if icons and icons|length >= 2 and icons[1] %}
                {{ icon_svg(icons[1], classes=["base_text_field_icon_trailing", "no-initial-animation"]) }}
            {% endif %}
            {{ icon_svg("error_filled", classes=["base_text_field_error_icon", "no-initial-animation"]) }}
        </label>
        <div class="base_text_field_supporting_text_container">
            <span class="base_text_field_supporting_text font_body_small no-initial-animation">
                {{ supporting_text if supporting_text }}
            </span>
            {% if show_char_count %}
                <span class="base_text_field_char_count font_body_small no-initial-animation"></span>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro text_field_filled(text_field_id, classes = [], input_type = "text", label = None, icons = None,
                           supporting_text = None, show_char_count = False, additional_attributes = []) %}
    {{ base_text_field("filled", text_field_id, classes = classes, input_type = input_type, label = label, icons = icons, supporting_text = supporting_text,
                       show_char_count = show_char_count, additional_attributes = additional_attributes) }}
{% endmacro %}

{% macro text_field_outlined(text_field_id, classes = [], input_type = "text", label = None, icons = None,
                           supporting_text = None, show_char_count = False, additional_attributes = []) %}
    {{ base_text_field("outlined", text_field_id, classes = classes, input_type = input_type, label = label, icons = icons, supporting_text = supporting_text,
                       show_char_count = show_char_count, additional_attributes = additional_attributes) }}
{% endmacro %}

{# Menu #}
{% macro menu(menu_id, classes = [], items = []) %}
    {% do base_namespace.needed_component_dependencies.append('menu') if 'menu' not in base_namespace.needed_component_dependencies %}
    <div id="{{ menu_id }}" class="base_menu fm_component no-initial-animation {{ classes|join(' ') }}">
        {% for item in items %}
            {% if item == "divider" %}
                <div class="base_menu_divider"></div>
            {% else %}
                <div class="base_menu_item base_state_layer_container" tabindex="0" item_id="{{ item["id"] }}">
                    <div class="base_state_layer"></div>
                    <div class="base_menu_item_content">
                        {% if "leading_icon" in item %}
                            {% if item["leading_icon"] != None %}
                                {{ icon_svg(item["leading_icon"], classes=["menu_icon_leading"]) }}
                            {% else %}
                                <div class="menu_icon_leading"></div>
                            {% endif %}
                        {% endif %}

                        <span id="{{ menu_id + "_" + item['id'] + "_label" }}" class="font_label_large">{{ item["label"] }}</span>

                        {% if "trailing_icon" in item %}
                            <div class="menu_item_inner_spacer"></div>
                            {% if item["trailing_icon"] != None %}
                                {{ icon_svg(item["trailing_icon"], classes=["menu_icon_trailing"]) }}
                            {% else %}
                                <div class="menu_icon_leading"></div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}

{# Drop Down #}
{% macro drop_down(drop_down_id, items, label = None, selected_item = None, callback = None) %}
    {% do base_namespace.needed_component_dependencies.append('drop_down') if 'drop_down' not in base_namespace.needed_component_dependencies %}
    <div id="{{ drop_down_id }}" class="base_drop_down fm_component">
        {{ text_field_filled(drop_down_id + "_text_field", ["base_drop_down_text_field"], label = label, icons = [None, "arrow_drop_down"]) }}
        {{ menu(drop_down_id + "_menu", ["base_drop_down_menu"],items) }}
    </div>
{% endmacro %}

{# Navigation Drawer #}
{% macro navigation_drawer_button(navigation_drawer_button_id, label, icon = None, badge = None, is_active = False, click_callback = None) %}
    <div id="{{ navigation_drawer_button_id }}" class="base_navigation_drawer_button base_state_layer_container no-initial-animation {{ "base_navigation_drawer_button_active" if is_active }}" {{ 'onclick=' + click_callback if click_callback }}>
        {% if not is_active %}
            <div class="base_state_layer"></div>
        {% endif %}

        <div class="base_navigation_drawer_button_content">
            {% if icon %}
                {{ icon_svg(icon, id=navigation_drawer_button_id+"_icon", classes=["base_navigation_drawer_button_icon", "no-initial-animation"]) }}
            {% endif %}

            <span id="{{ navigation_drawer_button_id }}_label" class="base_navigation_drawer_button_label font_label_large no-initial-animation">{{ label }}</span>

            {% if badge %}
                <span id="{{ navigation_drawer_button_id }}_badge" class="base_navigation_drawer_button_badge no-initial-animation">{{ badge }}</span>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro navigation_drawer_headline(navigation_drawer_headline_id, headline_text) %}
    <div id="{{ navigation_drawer_headline_id }}" class="base_navigation_drawer_headline font_title_small no-initial-animation">{{ headline_text }}</div>
{% endmacro %}

{% macro navigation_drawer_seperator() %}
    <hr class="base_navigation_drawer_seperator no-initial-animation">
{% endmacro %}