/* Button Base - Enabled */
:root {
    --button-width: auto;
    --button-height: 40px;
    --button-radius: var(--corner-full);
}

.base_button {
    position: relative;
    width: var(--button-width);
    height: var(--button-height);
    border-radius: var(--button-radius);
    outline: none;
    cursor: pointer;
    user-select: none;
    transition: var(--animation-duration-dark-mode) color, var(--animation-duration-hover) box-shadow,
                var(--animation-duration-dark-mode) background-color, var(--animation-duration-dark-mode) outline;
}

.base_button_inner {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: inherit;
    width: inherit;
    height: inherit;
    transition: inherit;
}

.base_button:is(.disabled) {
    cursor: unset !important;
}

.base_button_icon {
    position: relative;
    width: 18px;
    height: 18px;
    margin-left: 16px;
    transition: var(--animation-duration-dark-mode) fill;
}

.base_button_label {
    position: relative;
    margin: 0 24px 0 24px;
    transition: var(--animation-duration-dark-mode) color;
}

.base_button:has(.base_button_icon) .base_button_label {
    margin-left: 8px !important;
}

/* Base Button - Disabled */
.base_button:is(.disabled) {
    background-color: rgb(from var(--on-surface) r g b / 12%) !important;
    box-shadow: var(--elevation-level-0) !important;
}

.disabled .base_button_icon{
    fill: rgb(from var(--on-surface) r g b / 38%) !important;
}

.disabled .base_button_label {
    color: rgb(from var(--on-surface) r g b / 38%) !important;
}

/* Base Button - Focused */
.base_button:focus-visible::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    outline: var(--focus-indicator-thickness) solid var(--secondary);
    outline-offset: var(--focus-indicator-offset);
}

/* Elevated Button - Enabled */
.base_button_elevated {
    background-color: var(--surface-container-low);
    box-shadow: var(--elevation-level-1);
    --base-state-layer-color: var(--primary);
}

.base_button_elevated_icon {
    fill: var(--primary);
}

.base_button_elevated_label {
    color: var(--primary);
}

/* Elevated Button - Hover */
.base_button_elevated:hover:not(:active):not(.disabled) {
    box-shadow: var(--elevation-level-2) !important;
}

/* Elevated Button - Focused */
.base_button_elevated:focus-visible {
    box-shadow: var(--elevation-level-0) !important;
}

/* Filled Button - Enabled */
.base_button_filled {
    background-color: var(--primary);
    box-shadow: var(--elevation-level-0);
    --base-state-layer-color: var(--on-primary);
}

.base_button_filled_icon {
    fill: var(--on-primary);
}

.base_button_filled_label {
    color: var(--on-primary);
}

/* Filled Button - Hovered */
.base_button_filled:hover:not(:active):not(.disabled) {
    box-shadow: var(--elevation-level-1) !important;
}

/* Filled Tonal Button - Enabled*/
.base_button_filled_tonal {
    background-color: var(--secondary-container);
    box-shadow: var(--elevation-level-0);
    --base-state-layer-color: var(--on-secondary-container);
}

.base_button_filled_tonal_icon {
    fill: var(--on-secondary-container);
}

.base_button_filled_tonal_label {
    color: var(--on-secondary-container);
}

/* Filled Tonal Button - Hovered */
.base_button_filled_tonal:hover:not(:active):not(.disabled) {
    box-shadow: var(--elevation-level-1) !important;
}


/*Outlined Button - Enabled*/
.base_button_outlined {
    outline: 1px var(--outline) solid;
    background-color: transparent;
    box-shadow: var(--elevation-level-0);
    --base-state-layer-color: var(--primary);
}

.base_button_outlined_icon {
    fill: var(--primary);
}

.base_button_outlined_label {
    color: var(--primary);
}

/*Outlined Button - Disabled*/
.base_button_outlined:is(.disabled) {
    outline: 1px rgb(from var(--on-surface) r g b / 12%) solid !important;
}

/* Outlined Button - Focused */
.base_button_outlined:focus-visible:not(.disabled) {
    outline: 1px var(--primary) solid !important;
}


/* Floating Action Button - Enabled */
.base_button_floating_action {
    justify-content: center;
    box-shadow: var(--elevation-level-3);
    background-color: var(--primary-container);
    --base-state-layer-color: var(--on-primary-container);
}

.base_button_floating_action_icon {
    width: 24px !important;
    height: 24px !important;
    margin: 0 !important;
    fill: var(--on-primary-container);
}

.base_button_floating_action_small {
    --button-radius: 12px !important;
    --button-width: 40px !important;
    --button-height: 40px !important;
}

.base_button_floating_action_medium {
    --button-radius: 16px !important;
    --button-width: 56px !important;
    --button-height: 56px !important;
}

.base_button_floating_action_large {
    --button-radius: 28px !important;
    --button-width: 96px !important;
    --button-height: 96px !important;
}

.base_button_floating_action_large svg {
    width: 36px !important;
    height: 36px !important;
}

/* Floating Action Button - Hovered */
.base_button_floating_action:hover:not(:active) {
    box-shadow: var(--elevation-level-4);
}

/* Floating Action Button - Focused */
.base_button_floating_action:focus-visible {
    box-shadow: var(--elevation-level-0) !important;
}