:root {
    --drop-down-width: 200px;
}

.base_drop_down_text_field {
    --text-field-width: var(--drop-down-width);

}

.base_drop_down_text_field .base_text_field_inner {
    cursor: pointer !important;
}

.base_drop_down_text_field .base_text_field_supporting_text_container {
    margin: 0;
}

.base_drop_down_menu {
    --menu-width: var(--drop-down-width);
    position: absolute;
    transform: scaleY(0%);
    transform-origin: top center;
    transition: transform var(--animation-duration-hover);
    z-index: 10;
}

.extended .base_drop_down_menu {
    transform: scaleY(100%) !important;
}